.big-text{
    font-size:100px;
    margin:20px 0;
    color:white;
    align-items: center;
    justify-content: center;

}
.subline{
    font-size: 50px;
    margin:20px 0;
    color:black;
    align-items: center;
    justify-content: center;
}
a.btn{
    margin:30px;
    width:150px;
    padding:10px;
    border-radius: 20px;
}
a.btn-first{
    background-color: darkred;
    color:white;
}